body,
html {
  background: #2a2d32;
  color: hsla(0, 0%, 100%, .5);
  padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-size: 26px;
  line-height: 32px;
}

a {
  -webkit-transition: color .2s;
  color: #1c90c4;
  cursor: pointer;
  transition: color .2s;
}

link {
  color: #7289da;
  font-weight: 600;
}

a {
  text-decoration: none;
}

h1,
h2 {
  color: #fff;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}

p {
  color: hsla(0, 0%, 100%, .5);
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin: 18px 0;
}

h6 {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: #4f545c;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: hsla(0, 0%, 100%, .8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  height: 36px;
  margin: 20px 1px 0;
  padding-left: 8px;
}

table {
  -webkit-box-shadow: 0 1px 3px #282b30;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 1px 3px #282b30;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  overflow: hidden;
  width: 100%;
}

caption,
table,
td,
th {
  vertical-align: middle;
}

table thead {
  background: #35383c;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

table th {
  color: hsla(0, 0%, 100%, .8);
  font-size: 13px;
  line-height: 15px;
  padding: 8px;
  text-transform: capitalize;
}

table td,
table th {
  border: 1px solid #282b30;
}

caption,
td,
th {
  font-weight: 400;
  text-align: left;
}

caption,
table,
td,
th {
  vertical-align: middle;
}

table tbody tr:nth-child(2n) {
  background: #35383c;
}

table tbody tr {
  background: #2e3136;
}

table td {
  font-weight: 300;
  max-width: 272px;
  padding: 8px;
  vertical-align: top;
}

table td,
table th {
  border: 1px solid #282b30;
}

.hljs {
  background: #36393f;
}
